.body{
            background-image: url(background/1.jpg);
			background-position: center;
        }
.tableshadow
{   
    box-shadow:10px 10px 5px #b4c6b9;
    padding-top:0px;
    border:solid 1px #b4c6b9;
}
.lefttxt
{ padding-left:30px; 
    font-size:15px; 
    color:#143f58;
}
.toptd{ color:white;
    font-size:24px;
    text-align:center;
    height:40px; 
    background-color:#143f58;
}
.button1
{
   color: black; 
    border-radius: 10px;
    font-family: fantasy;
}
.button1:hover
{
    color: dodgerblue;
}
